.mat-column-select{
    width:10%;
    padding-right:10px;
}
.mat-column-study_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:30%;
}
.mat-column-study_name{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:60%;
}
