.mat-column-select{
    width:5%;
    padding-right:10px;
}
.mat-column-lesson_code{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width:15%;
}
.mat-column-study-study_name{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:30%;
}
.mat-column-lesson_name{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:40%;
}
