<loader *ngIf="isLoader$ | async"></loader>
<mat-toolbar color="primary" class="mat-elevation-z4 app-navbar" *ngIf="isLoggedIn$ | async">
  <div class="ui fluid container">
    <div class="ui grid">
      <div class="four wide right aligned column">
        <div class="header-title">
          <a [routerLink]="'/'">
            <div style="position:relative;">
              <div style="position:absolute;top:-20%;transform:translateY(-20%)">
                <i class="material-icons" style="font-size:3.0rem;padding-top:0.5em;">home</i>
              </div>
              <div style="left:15%;top:-10%;transform:translate(-15%, 10%)">
                اتوبوس مدرسه
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="four wide column">
        <div style="padding-top:4px;">
        </div>
      </div>
      <div class="eight wide left aligned column">
        <button mat-icon-button (click)="sidenav.open()">
          <i class="material-icons" style="font-size:3.0rem">list</i>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode="over" #sidenav position="end">Drawer content</mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>