.mat-column-school_code,.mat-column-school_manager,.mat-column-school_name {
    display:flex;
    align-items: center;
    justify-content: center;
}
.mat-column-select{
    width:10%;
    padding-right:10px;
}
.mat-column-school_code{
    width:20%;
}
.mat-column-school_manager{
    min-width:20%;
}
.mat-column-school_name{
    min-width:40%;
}